<h1>List</h1>
<mat-card  style="width: 432px">
  <material-icon-list [(icon)]="icon"></material-icon-list>
</mat-card>

<h1>Button</h1>
<button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
  <mat-icon>{{icon}}</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <material-icon-list [(icon)]="icon" [pageSize]="30" [hidePageSize]="true" (iconChange)="menuTrigger.closeMenu()"></material-icon-list>
</mat-menu>

<h1>Custom Settings</h1>
<mat-card>
  <material-icon-list [(icon)]="icon" color="accent"></material-icon-list>
</mat-card>

<h1>Custom Color</h1>
<mat-card>
  <material-icon-list [(icon)]="icon" [styleColor]="'#3ff'"></material-icon-list>
</mat-card>

<h1>Sort By</h1>
<mat-button-toggle-group #group="matButtonToggleGroup" value="name">
  <mat-button-toggle value="name" aria-label="Name">
    Name
  </mat-button-toggle>
  <mat-button-toggle value="popularity" aria-label="Popularity">
    Popularity
  </mat-button-toggle>
</mat-button-toggle-group>
<mat-card>
  <material-icon-list [(icon)]="icon" [sortBy]="group.value"></material-icon-list>
</mat-card>

<router-outlet></router-outlet>
